/* CSS cho giao diện sáng */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* CSS cho giao diện tối */
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
  /* CSS cho bảng trong chế độ tối */
  .dark-mode table {
    color: #ffffff;
  }
  
  /* CSS cho phần tử th trong chế độ tối */
  .dark-mode th {
    background-color: #444444;
  }
  
  /* CSS cho các hàng xen kẽ trong chế độ tối */
  .dark-mode tr:nth-child(even) {
    background-color: #555555;
  }
  
  /* CSS cho các nút trong chế độ tối */
  .dark-mode button {
    background-color: #666666;
    color: #ffffff;
  }